---
import {Chart} from '../components/Chart.jsx';
import {Line} from '../components/Line.jsx';
---

<html>
  <head>
    <title>Chart with Astro</title>
  </head>
  <body>
    <h1>Sales Data Chart</h1>
    <Chart client:visible />
    <Line client:visible />
  </body>
</html>
